<mat-card class="card-about">
    <mat-card-header>
        <mat-card-title>PetFinder for Developers</mat-card-title>
        <mat-card-subtitle>API v2.0</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Petfinder is dedicated to helping pets find homes, and we know you are too. Petfinder's free API is another way we extend your reach to get pets adopted.
        </p>
        <p>
            The API provides ready access to data for Petfinder's hundreds of thousands of adoptable pets and the organizations that care for them.
        </p>
    </mat-card-content>
</mat-card>